<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trivia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenu de la page -->
  <div [ngSwitch]="currentTriviaState">
    <!-- STATE : TriviaState.SAISIE -->
    <div *ngSwitchCase="TriviaState.SAISIE">
      <!-- Input Pseudo -->
      <ion-item>
        <ion-input [(ngModel)]="pseudo" label="Pseudo" placeholder="Saisir votre pseudo"></ion-input>
      </ion-item>

      <!-- Dropdown de la difficulté -->
      <ion-item>
        <ion-select label="Difficulté" placeholder="Veuillez selectionner une difficulté">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Checkbox : Remember me -->
      <ion-item>
        <ion-checkbox labelPlacement="end">Mémoriser mes informations</ion-checkbox>
      </ion-item>

      <!-- Button : Commencer -->
      <ion-button expand="full" (click)="onSubmit()">Commencer</ion-button>
    </div>

    <!-- STATE : TriviaState.PLAY -->
    <div *ngSwitchCase="TriviaState.PLAY">
      <p>Bienvenue {{ pseudo }}</p>
      <p>{{ getCurrentQuestion().label }}</p>

      <ion-button *ngFor="let anwser of getCurrentQuestion().anwsers" [disabled]="currentGameState!=GameState.SHOW_QUESTION" expand="full" (click)="onReplyClick(anwser)">{{ anwser.label }}</ion-button>
    
      <!-- STATE: Quand j'ai répondu => donc REPLY_RESULT -->
      <ion-button expand="full" *ngIf="currentGameState==GameState.REPLY_RESULT" (click)="onClickQuestionSuivante()">Question Suivante</ion-button>
      
      <!-- STATE: Quand fini de fouer => donc END_GAME -->
      <div *ngIf="currentGameState==GameState.END_GAME">
        <p >Le score total est : {{ score }}</p>

        <ion-button expand="full" (click)="onClickReplay()">Rejouer</ion-button>
      </div>
    
    </div>
  </div>

  <!-- Alert caché par défaut -->
  <ion-alert [isOpen]="isAlertOpen" header="Information(s) Manquante(s)" [message]="errorMessage"
    (didDismiss)="setOpen(false)"></ion-alert>

  <!-- Toast caché par défaut -->
  <ion-toast [isOpen]="isToastOpen" [message]="toastMessage" duration="1000"
    (didDismiss)="setToastOpen(false)"></ion-toast>

</ion-content>