<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Open Trivia</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div [ngSwitch]="currentState">
      <!-- Wait State  -->
      <div *ngSwitchCase="State.WAIT">
        <ion-list>
          <!-- Pseudo -->
          <ion-item>
            <ion-input [(ngModel)]="pseudo" label="Votre pseudo" placeholder="Enter un pseudo"></ion-input>
          </ion-item>
          <!-- Select  -->
          <ion-item>
            <ion-select label="Difficulté" label-placement="fixed" placeholder="Difficulté">
              <ion-select-option *ngFor="let item of difficulties" value="apple">{{item }}</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Mémoriser -->
          <ion-item>
            <ion-checkbox labelPlacement="end">Mémoriser mes informations</ion-checkbox>
          </ion-item>
          <!-- Button -->
          <ion-button (click)="onSubmit()" expand="full">Commencer</ion-button>

        </ion-list>
      </div>
      <!-- Si joué -->
      <div *ngSwitchCase="State.PLAY">
        <h4 class="welcome-text">Bienvenue {{ pseudo }}</h4>

        <!-- La question -->
        <h3>De quelle couleur est le cheval blanc d'Henri IV ?</h3>

        <!-- Les choix  -->
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let reply of game.replies">
              <ion-button (click)="onClickReply(reply)" [color]="getBtnColorResult(reply)" expand="full">{{
                reply.replyMessage }}</ion-button></ion-col>
          </ion-row>
        </ion-grid>
        <!-- Si repondu  -->
        <div [ngSwitch]="game.currentState">
          <div *ngSwitchCase="game.State.QUESTION_RESULT">
            <ion-button expand="full">Question Suivante</ion-button>
          </div>
          <div *ngSwitchCase="game.State.END">
            <ion-button expand="full">Rejouer</ion-button>
          </div>
 
        </div>
      </div>

    </div>
  </div>
</ion-content>